@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="cardo">
    <h2>@ViewData["Title"]</h2>
    <p>
        <br /> This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells you about your privacy rights and how the law protects you.
        <br />
        We use your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
        <br />
        <b>Collecting and Using Your Personal Data</b>
        <br />
        Types of Data Collected
        <br />
        Personal Data
        <br />
        While using our Service, we may ask You to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to:
        <br />
        Email address, First name and last name, Phone number, Address, State, Province, ZIP/Postal code, City
        <br />
        <b>Usage Data</b>
        <br />
        Usage Data is collected automatically when using the Service. Usage Data may include information such as your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our service that You visit, and more.
        <br />
        <b>Tracking Technologies and Cookies</b>
        <br />
        We use cookies and similar tracking technologies to track activity on our Service and store certain information. The technologies we use include Session and Persistent Cookies for various purposes.
        <br />
        <b>Use of Your Personal Data</b>
        <br />
        The Company may use Personal Data to provide and maintain our Service, manage your account, contact you, and for business or legal purposes.
        <br />
        <b>Retention of Your Personal Data</b>
        <br />
        The Company will retain Your Personal Data only for as long as is necessary for the purposes outlined in this Privacy Policy.
        <br />
        <b>Disclosure of Your Personal Data</b>
        <br />
        The Company may disclose Personal Data for legal reasons, business transactions, and other purposes outlined above.
        <br />
        <b>Security of Your Personal Data</b>
        <br />
        We strive to use commercially acceptable means to protect your Personal Data but cannot guarantee its absolute security.
        <br />
        <b>Children's Privacy</b>
        <br />
        Our Service does not address anyone under 13, and we do not knowingly collect personally identifiable information from them.
        <br />
        <b>Changes to this Privacy Policy</b>
        <br />
        We may update our Privacy Policy from time to time, and we will notify you of changes through our Service.
        <br />
        <u><b>Contact Us</b></u>
        <br />
        If you have any questions, you can contact us by email at ABCRetail@gmail.com or by phone at 0235679875.
        <br />
        <b>Policy Last updated: August 22, 2024</b>
    </p>
</div>

